
<div class="container my-5">
  <h1>List Pokémons</h1>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="nom">
      <th class="the" mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
      <ng-container matColumnDef="detail">
        <th class="the" mat-header-cell *matHeaderCellDef> Editer</th>
        <td mat-cell *matCellDef="let element"> 
        <button mat-icon-button class="btn btn-primary btn-sm" (click)="OpenPokemonDialog(element.url)" ><mat-icon>launch</mat-icon></button>
        </td>
      </ng-container>    
<tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
